.DS_Store
__pycache__/
*.pyc
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.zip
.terraform.tfstate.lock.info
crash.log
crash.*.log
override.tf
*_override.tf
*.tfplan

docs/evidence/
docs/Functional-Specification.docx

